{{!--
This template is used to display the form where users can subscribe to the newsletter.
--}}

<div class="m-newsletter__container">
  <form data-members-form="subscribe" id="newsletter-form" class="m-newsletter__form-container">
    <div class="m-newsletter__form">
      <h1 class="m-newsletter__title">{{t "Subscribe to our newsletter"}}</h1>
      <p class="m-newsletter__description">
        {{ "Get the latest posts delivered right to your inbox."}}
      </p>

      <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
        data-dojo-config="usePlainJson: true, isDebug: false"></script>
      <script
        type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us4.list-manage.com", "uuid": "cd22735d5c0dc119ab53e59dd", "lid": "a4bb38b91c", "uniqueMethods": true }) })</script>

    </div>


  </form>
</div>